@font-face {
	font-family: 'Russo One';
	src: url('fonts/RussoOne-Regular.ttf') format('ttf');
	font-weight: 600;
	font-style: normal;
  }
@font-face {
	font-family: 'Open Sans';
	src: url('fonts/OpenSans-Light.ttf') format('ttf');
	font-weight: 100;
	font-style: normal;
}
#map{
	width: 100vw;
	height: 100vh;
	position: absolute;
	z-index: -1;
}
body{
	padding: 0;
	margin: 0;
}
#about{
	position: relative;
	float:right;
	right: 0.7vw;
	top: 0.3vw;
	width: 9vh;
	height: auto;
	transition: ease-in-out 0.5s;
}
#about:focus{
	outline: none;
	right: -4.8vw;
	transform: rotate(-100deg);
}
#about:focus ~ #aboutText{
	right: 0;
}
#about:focus ~ #aboutName{
	right: 0;
}
#right{
	width: 21.4vw;
	height: 100vh;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
}
#aboutText{
	position: absolute;
	width: 20vw;
	height: 90vh;
	background-color: rgba(122, 255, 188, 0.75);
	right: -21.4vw;
	font-family: 'Open Sans';
	font-size: 2vh;
	color: white;
	top: 10vh;
	padding: 0 0.7vw 0 0.7vw;
	overflow: auto;
	transition: cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
}
#aboutName{
	position: absolute;
	width: 20vw;
	height: 10vh;
	top: 0;
	right: -21.4vw;
	background-color: #0fff9b;
	padding: 0 0.7vw 0 0.7vw;
	transition: cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s;
}
#aboutName > h2{
	position: relative;
	left: 0;
	top: 0;
	font-family: 'Russo One';
	color: white;
	font-size: 5vh;
}
#bottom{
	position: absolute;
	height: 15vh;
	width: 100%;
	bottom: 0;
	left: 0;
}
.sliderContainer {
	position: fixed;
	width: 20vw;
	height: 10vh;
	bottom: 0;
}
#slcLeft{
	left: 24vw;
}
#slcRight{
	right: 24vw;
}
#windToggle {
	position: fixed;
	width: 7vw;
	height: auto;
	left: 46.5vw;
	opacity: 0.5;
	bottom: 1vh;
}
#windToggle:focus{
	outline: none;
}
.sliderContainer > img {
	width: 20%;
	height: auto;
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.sliderContainer > .leftImg {
	left: 0;
}
.sliderContainer > .rightImg {
	right: 0;
}
.sliderContainer > input {
	-webkit-appearance: none;
	width: 50%;
	height: 1.5vh;
	background: rgb(15, 255, 155, 0.5);
	outline: none;
	
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	left: 25%;
}
.sliderContainer > input::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 4vh;
	height: 4vh;
	border-radius: 50%;
	background: #0fff9b;
	cursor: pointer;
}

.sliderContainer > input::-moz-range-thumb {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #4CAF50;
	cursor: pointer;
}