@font-face {
	font-family: 'Russo One';
	src: url('fonts/RussoOne-Regular.ttf') format('ttf');
	font-weight: 600;
	font-style: normal;
  }
@font-face {
	font-family: 'Open Sans';
	src: url('fonts/OpenSans-Light.ttf') format('ttf');
	font-weight: 100;
	font-style: normal;
}
#map{
	width: 100vw;
	height: 100vh;
	position: absolute;
	z-index: -1;
}
body{
	padding: 0;
	margin: 0;
}
#about{
	position: relative;
	float:right;
	right: 0.7vw;
	top: 0.3vw;
	width: 9vh;
	height: auto;
	transition: ease-in-out 0.5s;
}
#about:focus{
	outline: none;
	right: -4.8vw;
	transform: rotate(-100deg);
}
#about:focus ~ #aboutText{
	right: 0;
}
#about:focus ~ #aboutName{
	right: 0;
}
#right{
	width: 21.4vw;
	height: 100vh;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
}
#aboutText{
	position: absolute;
	width: 20vw;
	height: 90vh;
	background-color: rgba(122, 255, 188, 0.75);
	right: -21.4vw;
	font-family: 'Open Sans';
	font-size: 2vh;
	color: white;
	top: 10vh;
	padding: 0 0.7vw 0 0.7vw;
	overflow: auto;
	transition: cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
}
#aboutName{
	position: absolute;
	width: 20vw;
	height: 10vh;
	top: 0;
	right: -21.4vw;
	background-color: #0fff9b;
	padding: 0 0.7vw 0 0.7vw;
	transition: cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s;
}
#aboutName > h2{
	position: relative;
	left: 0;
	top: 0;
	font-family: 'Russo One';
	color: white;
	font-size: 5vh;
}
#bottom{
	position: absolute;
	height: 15vh;
	width: 100%;
	bottom: 0;
	left: 0;
}
.groupContainer {
	position: fixed;
	height: 5vh;
	bottom: 3vh;
}
#gcL {
	left: 10vw;
}
#gcR {
	right: 10vw;
}
.sliderContainer {
	position: relative;
	width: 14vw;
	height: 100%;
	bottom: 0;
}
#slcLeft{
	float: left;
	margin-right: 1vw;
}
#slcRight{
	float: right;
	margin-left: 1vw;
}
.buttonContainer {
	position: fixed;
	left: 40vw;
	bottom: 0;
}
#playToggle {
	width: 8vw;
	top: -1vw;
	opacity: 1;
}
.buttonContainer > input {
	position: relative;
	width: 6vw;
	height: auto;
	float: left;
	opacity: 0.5;
	bottom: 0;
	top: 1vw;
}
.buttonContainer > input:focus {
	outline: none;
}
.sliderContainer > img {
	width: 20%;
	height: auto;
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.sliderContainer > .leftImg {
	left: 0;
}
.sliderContainer > .rightImg {
	right: 0;
}
.sliderContainer > input {
	-webkit-appearance: none;
	width: 50%;
	height: 1.5vh;
	background: rgb(15, 255, 155, 0.5);
	outline: none;
	
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	left: 25%;
}
.sliderContainer > input::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 4vh;
	height: 4vh;
	border-radius: 50%;
	background: #0fff9b;
	cursor: pointer;
}

.sliderContainer > input::-moz-range-thumb {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #4CAF50;
	cursor: pointer;
}
#top{
	position: absolute;
	top: 0;
	height: 3.7vw;
	width: 100%;
	pointer-events: none;
}
#dateC1{
	width: 20vw;
	height: 100%;
	margin: auto;
	border-bottom-right-radius: 2vh;
	border-bottom-left-radius: 2vh;
	background-color: rgba(122, 255, 188, 0.6);
}
#dateC2{
	width: 18vw;
	height: 77%;
	margin: auto;
	border-bottom-right-radius: 2vh;
	border-bottom-left-radius: 2vh;
	background-color: #0fff9b;
}
#dateC2 > p{
	font-family: 'Russo One';
	color: white;
	font-size: 2vw;
	text-align: center;
	margin: 0;
}

#bgLoad{
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	background-color: #0fff9b;
}
.loader {
	color: #ffffff;
	font-size: 90px;
	text-indent: -9999em;
	overflow: hidden;
	width: 3.6vw;
	height: 3.6vw;
	border-radius: 50%;
	margin: 0;
	position: absolute;
	top: calc(50vh - 3.6vw);
	left: 46.4vw;
	-webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
	animation: load6 1.7s infinite ease, round 1.7s infinite ease;
	pointer-events: none;
  }
@-webkit-keyframes load6 {
	0% {
	  box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
	}
	5%,
	95% {
	  box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
	}
	10%,
	59% {
	  box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
	}
	20% {
	  box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
	}
	38% {
	  box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
	}
	100% {
	  box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
	}
}
@keyframes load6 {
	0% {
	  box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
	}
	5%,
	95% {
	  box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
	}
	10%,
	59% {
	  box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
	}
	20% {
	  box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
	}
	38% {
	  box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
	}
	100% {
	  box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
	}
}
@-webkit-keyframes round {
	0% {
	  -webkit-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
	100% {
	  -webkit-transform: rotate(360deg);
	  transform: rotate(360deg);
	}
  }
  @keyframes round {
	0% {
	  -webkit-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
	100% {
	  -webkit-transform: rotate(360deg);
	  transform: rotate(360deg);
	}
}
  